.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.cheveron-number {
  font-size: 28px;
}

.cheveron {
  border: solid red;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  cursor: pointer;
}

.cheveron-up {
  transform: rotate(-135deg);
}

.cheveron-down {
  transform: rotate(45deg);
}